// ================================================================== \\
// VARIABLES
// ================================================================== //
$logoBg: #007766;
$logoBg2: #22CC22;

$ltGrey: #414141;
$drkGrey: #212121;
$green: #059777;

$default-box-shadow-color: rgba(0,0,0,.2);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur: 10px;

// ================================================================== \\
// IMPORTS
// ================================================================== //

@import "compass";
@import "normalize";
@import "main";

@import "animation";

@import "logo";
@import "cactus";

// ================================================================== \\
// MIXINS ET AL
// ================================================================== //
%selfclear {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

%button-base {
  @include border-radius(3px); 
  color: #FFF;
  display: inline-block;
  font-size: .75em;
  padding: 8px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0,0,0,.25);
  text-transform: uppercase;
}
@mixin button($btn-bg) {
  @extend %button-base;
  @include single-box-shadow(rgba(255,255,255,.3), 0, 1px, 0, 0, inset);
  background-color: $btn-bg;
  border-width: 1px 1px 4px;
  border-color: darken($btn-bg, 10%); 
  border-style: solid;
  &:hover {
    background-color: lighten($btn-bg, 2%);
  }
  &:active {
    @include single-box-shadow(none);
    background-color: darken($btn-bg, 6%);
    border-color: darken($btn-bg, 14%);
    border-width: 4px 1px 1px;
  }
}
.button {
  @include button($green);
}

// ================================================================== \\
// GLOBAL
// ================================================================== //
body, pre, h1, h2, h3, h4, h5, h6 {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
body {
	background: $ltGrey url('../images/noise.png');
}
hr {
  border-bottom: 1px solid rgba(0,0,0,.3);
  height: 0;
}
a {
  color: lighten($green, 25%);
  text-decoration: none;
}
.page-header, .portfolio {
  padding: 30px 0;
}

// ================================================================== \\
// UTILITY CLASSES
// ================================================================== //

.container {
  @extend %selfclear;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.right {
  float: right;
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.half {
  width: 50%;
}
.third {
  width: 33%;
}
.two-thirds {
	width: 66.6%;
}
.no-m {
  margin: 0;
}
.small {
  font-size: .85em;
}
.light {
  font-weight: 100;
}
.bordered {
  border-bottom: 1px solid rgba(255,255,255,.5);
  border-top: 1px solid rgba(0,0,0,.3);
  padding: 1em;
  &:first-child {
    border-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}

// ================================================================== \\
// HEADER
// ================================================================== //
.page-header {
  background: #944b40 url('../images/noise.png');
  @include background(url('../images/noise.png'),
                      linear-gradient(#61839e, #b52908));
  @include single-box-shadow(rgba(0,0,0,.5), 0, 0, 280px, 0, inset);
  position: relative;
  &:before {
    background-color: rgba(0,0,0,0);
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  //  -moz-animation: sunset 30s forwards linear;
  //  -webkit-animation: sunset 30s forwards linear;
  }
}

.haiku {
	display: none;
	&.visible {
		display: block;
	}
	pre {
		margin: 0 0 1em;
	}
}

.blog h2 {
  text-transform: uppercase;
}

// ================================================================== \\
// PORTFOLIO
// ================================================================== //

.portfolio {
	background: $drkGrey url('../images/noise.png');
  h2 {
    font-size: 1.4em;
  }
}
